# Importing libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import category_encoders as ce
from sklearn.preprocessing import LabelEncoder

In [2]:
# data aquisition of our dataset(Mobile price prediction)
Mobile=pd.read_csv("C:\\Users\\hp\\digicrome data science\\project  4 (mobile prediction)\\Processed_Flipdata - Processed_Flipdata.csv")

In [3]:
# printing out complete dataset of Realstate
Mobile

,Unnamed: 0,Model,Colour,Memory,RAM,Battery_,Rear Camera,Front Camera,AI Lens,Mobile Height,Processor_,Prize
0,0,Infinix SMART 7,Night Black,64,4,6000,13MP,5MP,1,16.76,Unisoc Spreadtrum SC9863A1,"7,299"
1,1,Infinix SMART 7,Azure Blue,64,4,6000,13MP,5MP,1,16.76,Unisoc Spreadtrum SC9863A1,"7,299"
2,2,MOTOROLA G32,Mineral Gray,128,8,5000,50MP,16MP,0,16.64,Qualcomm Snapdragon 680,"11,999"
3,3,POCO C50,Royal Blue,32,2,5000,8MP,5MP,0,16.56,Mediatek Helio A22,"5,649"
4,4,Infinix HOT 30i,Marigold,128,8,5000,50MP,5MP,1,16.76,G37,"8,999"
...,...,...,...,...,...,...,...,...,...,...,...,...
536,637,SAMSUNG Galaxy S23 5G,Cream,256,8,3900,50MP,12MP,0,15.49,Qualcomm Snapdragon 8 Gen 2,"79,999"
537,638,LAVA Z21,Cyan,32,2,3100,5MP,2MP,0,12.70,Octa Core,"5,998"
538,639,Tecno Spark 8T,Turquoise Cyan,64,4,5000,50MP,8MP,0,16.76,MediaTek Helio G35,"9,990"
539,641,SAMSUNG Galaxy A54 5G,Awesome Lime,128,8,5000,50MP,32MP,0,16.26,"Exynos 1380, Octa Core","38,999"
540,642,OPPO A77,Sky Blue,128,4,5000,50MP,8MP,0,16.66,Mediatek Helio G35,"15,999"

In [4]:
#reading out first 5 and last five rows of dataset
# with the help of .tail and .head we can read the first 5 and last rows of our dataset
Mobile.head()

,Unnamed: 0,Model,Colour,Memory,RAM,Battery_,Rear Camera,Front Camera,AI Lens,Mobile Height,Processor_,Prize
0,0,Infinix SMART 7,Night Black,64,4,6000,13MP,5MP,1,16.76,Unisoc Spreadtrum SC9863A1,"7,299"
1,1,Infinix SMART 7,Azure Blue,64,4,6000,13MP,5MP,1,16.76,Unisoc Spreadtrum SC9863A1,"7,299"
2,2,MOTOROLA G32,Mineral Gray,128,8,5000,50MP,16MP,0,16.64,Qualcomm Snapdragon 680,"11,999"
3,3,POCO C50,Royal Blue,32,2,5000,8MP,5MP,0,16.56,Mediatek Helio A22,"5,649"
4,4,Infinix HOT 30i,Marigold,128,8,5000,50MP,5MP,1,16.76,G37,"8,999"

In [5]:
Mobile.tail()

,Unnamed: 0,Model,Colour,Memory,RAM,Battery_,Rear Camera,Front Camera,AI Lens,Mobile Height,Processor_,Prize
536,637,SAMSUNG Galaxy S23 5G,Cream,256,8,3900,50MP,12MP,0,15.49,Qualcomm Snapdragon 8 Gen 2,"79,999"
537,638,LAVA Z21,Cyan,32,2,3100,5MP,2MP,0,12.70,Octa Core,"5,998"
538,639,Tecno Spark 8T,Turquoise Cyan,64,4,5000,50MP,8MP,0,16.76,MediaTek Helio G35,"9,990"
539,641,SAMSUNG Galaxy A54 5G,Awesome Lime,128,8,5000,50MP,32MP,0,16.26,"Exynos 1380, Octa Core","38,999"
540,642,OPPO A77,Sky Blue,128,4,5000,50MP,8MP,0,16.66,Mediatek Helio G35,"15,999"

In [6]:
# checking out shape of complete dataset
# with this code we can identify how much row and columns are avaiable in our dataset
Mobile.shape

(541, 12)

In [7]:
# checking out how many columns we are having in our dataset
Mobile.columns

Index(['Unnamed: 0', 'Model', 'Colour', 'Memory', 'RAM', 'Battery_',
       'Rear Camera', 'Front Camera', 'AI Lens', 'Mobile Height', 'Processor_',
       'Prize'],
      dtype='object')

In [8]:
#checking out how many object,intergar and boolean value we are having in our dataset
Mobile.dtypes

Unnamed: 0         int64
Model             object
Colour            object
Memory             int64
RAM                int64
Battery_           int64
Rear Camera       object
Front Camera      object
AI Lens            int64
Mobile Height    float64
Processor_        object
Prize             object
dtype: object

In [9]:
# converting a column containing prize stored as strings (object dtype) into integers:
# Step 1: Remove any non-numeric characters and commas
Mobile['Prize'] = Mobile['Prize'].str.replace(r'\D', '').str.replace(',', '')

# Step 2: Convert the string to integers using astype
Mobile['Prize'] = Mobile['Prize'].astype(int)

# Display the first few rows to verify the conversion
print(Mobile.head())

   Unnamed: 0            Model        Colour  Memory  RAM  Battery_  \
0           0  Infinix SMART 7   Night Black      64    4      6000
1           1  Infinix SMART 7    Azure Blue      64    4      6000
2           2     MOTOROLA G32  Mineral Gray     128    8      5000
3           3         POCO C50    Royal Blue      32    2      5000
4           4  Infinix HOT 30i      Marigold     128    8      5000

  Rear Camera Front Camera  AI Lens  Mobile Height  \
0        13MP          5MP        1          16.76
1        13MP          5MP        1          16.76
2        50MP         16MP        0          16.64
3         8MP          5MP        0          16.56
4        50MP          5MP        1          16.76

                   Processor_  Prize
0  Unisoc Spreadtrum SC9863A1   7299
1  Unisoc Spreadtrum SC9863A1   7299
2     Qualcomm Snapdragon 680  11999
3          Mediatek Helio A22   5649
4                         G37   8999

In [10]:
#checking out how many missing values in number in each column we have having our dataset
#sum of missing value in each columns
Mobile.isnull().sum().to_dict()

{'Unnamed: 0': 0,
 'Model': 0,
 'Colour': 0,
 'Memory': 0,
 'RAM': 0,
 'Battery_': 0,
 'Rear Camera': 0,
 'Front Camera': 0,
 'AI Lens': 0,
 'Mobile Height': 0,
 'Processor_': 0,
 'Prize': 0}

In [11]:
#checking out how many in total number we have missing including all number of columns
Mobile.isnull().sum().sum()

0

In [12]:
#checking out how many missing values we have having our dataset
#True = missing value, False = not null
Mobile.isnull()

,Unnamed: 0,Model,Colour,Memory,RAM,Battery_,Rear Camera,Front Camera,AI Lens,Mobile Height,Processor_,Prize
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
536,False,False,False,False,False,False,False,False,False,False,False,False
537,False,False,False,False,False,False,False,False,False,False,False,False
538,False,False,False,False,False,False,False,False,False,False,False,False
539,False,False,False,False,False,False,False,False,False,False,False,False
540,False,False,False,False,False,False,False,False,False,False,False,False

In [13]:
## Find duplicate rows based on all columns
duplicate_rows_mobile = Mobile[Mobile.duplicated()]
print("duplicate_rows_mobile:")
print(duplicate_rows_mobile)

duplicate_rows_mobile:
Empty DataFrame
Columns: [Unnamed: 0, Model, Colour, Memory, RAM, Battery_, Rear Camera, Front Camera, AI Lens, Mobile Height, Processor_, Prize]
Index: []

by above method of coding we can easily understand that we do not have any duplicate column in our dataset

In [14]:
#dropping "Unnamed: 0" columns as it seems like this column is only having series of numeric number and not useful as per observation
del_unwanted_col_Mobile= Mobile.drop(["Unnamed: 0"], axis = 1)
del_unwanted_col_Mobile

,Model,Colour,Memory,RAM,Battery_,Rear Camera,Front Camera,AI Lens,Mobile Height,Processor_,Prize
0,Infinix SMART 7,Night Black,64,4,6000,13MP,5MP,1,16.76,Unisoc Spreadtrum SC9863A1,7299
1,Infinix SMART 7,Azure Blue,64,4,6000,13MP,5MP,1,16.76,Unisoc Spreadtrum SC9863A1,7299
2,MOTOROLA G32,Mineral Gray,128,8,5000,50MP,16MP,0,16.64,Qualcomm Snapdragon 680,11999
3,POCO C50,Royal Blue,32,2,5000,8MP,5MP,0,16.56,Mediatek Helio A22,5649
4,Infinix HOT 30i,Marigold,128,8,5000,50MP,5MP,1,16.76,G37,8999
...,...,...,...,...,...,...,...,...,...,...,...
536,SAMSUNG Galaxy S23 5G,Cream,256,8,3900,50MP,12MP,0,15.49,Qualcomm Snapdragon 8 Gen 2,79999
537,LAVA Z21,Cyan,32,2,3100,5MP,2MP,0,12.70,Octa Core,5998
538,Tecno Spark 8T,Turquoise Cyan,64,4,5000,50MP,8MP,0,16.76,MediaTek Helio G35,9990
539,SAMSUNG Galaxy A54 5G,Awesome Lime,128,8,5000,50MP,32MP,0,16.26,"Exynos 1380, Octa Core",38999
540,OPPO A77,Sky Blue,128,4,5000,50MP,8MP,0,16.66,Mediatek Helio G35,15999

In [15]:
#checking the summary of dataset
del_unwanted_col_Mobile.describe()

,Memory,RAM,Battery_,AI Lens,Mobile Height,Prize
count,541.000000,541.000000,541.000000,541.000000,541.000000,541.000000
mean,110.550832,5.397412,4871.587800,0.062847,16.431201,16228.375231
std,60.600694,1.984923,780.148862,0.242911,2.523553,10793.588322
min,16.000000,2.000000,800.000000,0.000000,4.500000,920.000000
25%,64.000000,4.000000,5000.000000,0.000000,16.510000,9290.000000
50%,128.000000,6.000000,5000.000000,0.000000,16.710000,13499.000000
75%,128.000000,8.000000,5000.000000,0.000000,16.940000,19280.000000
max,256.000000,8.000000,7000.000000,1.000000,41.940000,80999.000000

here .describe() provides summary statistics of the numerical columns in the DataFrame. It computes statistics such as count, mean, standard deviation, minimum, 25th percentile (Q1), median (50th percentile or Q2), 75th percentile (Q3), and maximum.

# Converting categorical features into numerical

# Ordinal encoding

Taken out all the variable columns name and counts according to their functionality and visualisation that these need to be convert by "ORDINAL ENCODING"

In [16]:
#printing unique value
del_unwanted_col_Mobile['Rear Camera'].unique()

array(['13MP', '50MP', '8MP', '40MP', '32MP', '48MP', '64MP', '108MP',
       '0MP', '2MP', '12MP', '200MP', '5MP', '16MP'], dtype=object)

In [17]:
# Initialize ce.ordinalEncoder
#here we didn’t defines or map the value of object of class therefore it will map the default value that’s is 0,1,2,3….
encoder = ce.OrdinalEncoder()

# Fit and transform the data
del_unwanted_col_Mobile['Rear Camera'] = encoder.fit_transform(del_unwanted_col_Mobile['Rear Camera'])

# Print the result
del_unwanted_col_Mobile

,Model,Colour,Memory,RAM,Battery_,Rear Camera,Front Camera,AI Lens,Mobile Height,Processor_,Prize
0,Infinix SMART 7,Night Black,64,4,6000,1,5MP,1,16.76,Unisoc Spreadtrum SC9863A1,7299
1,Infinix SMART 7,Azure Blue,64,4,6000,1,5MP,1,16.76,Unisoc Spreadtrum SC9863A1,7299
2,MOTOROLA G32,Mineral Gray,128,8,5000,2,16MP,0,16.64,Qualcomm Snapdragon 680,11999
3,POCO C50,Royal Blue,32,2,5000,3,5MP,0,16.56,Mediatek Helio A22,5649
4,Infinix HOT 30i,Marigold,128,8,5000,2,5MP,1,16.76,G37,8999
...,...,...,...,...,...,...,...,...,...,...,...
536,SAMSUNG Galaxy S23 5G,Cream,256,8,3900,2,12MP,0,15.49,Qualcomm Snapdragon 8 Gen 2,79999
537,LAVA Z21,Cyan,32,2,3100,13,2MP,0,12.70,Octa Core,5998
538,Tecno Spark 8T,Turquoise Cyan,64,4,5000,2,8MP,0,16.76,MediaTek Helio G35,9990
539,SAMSUNG Galaxy A54 5G,Awesome Lime,128,8,5000,2,32MP,0,16.26,"Exynos 1380, Octa Core",38999
540,OPPO A77,Sky Blue,128,4,5000,2,8MP,0,16.66,Mediatek Helio G35,15999

In [18]:
del_unwanted_col_Mobile['Front Camera'].unique()

array(['5MP', '16MP', '8MP', '13MP', '0MP', '32MP', '10MP', '50MP',
       '60MP', '20MP', '44MP', '2MP', '12MP'], dtype=object)

In [19]:
# Fit and transform the data
del_unwanted_col_Mobile['Front Camera'] = encoder.fit_transform(del_unwanted_col_Mobile['Front Camera'])

# Print the result
del_unwanted_col_Mobile

,Model,Colour,Memory,RAM,Battery_,Rear Camera,Front Camera,AI Lens,Mobile Height,Processor_,Prize
0,Infinix SMART 7,Night Black,64,4,6000,1,1,1,16.76,Unisoc Spreadtrum SC9863A1,7299
1,Infinix SMART 7,Azure Blue,64,4,6000,1,1,1,16.76,Unisoc Spreadtrum SC9863A1,7299
2,MOTOROLA G32,Mineral Gray,128,8,5000,2,2,0,16.64,Qualcomm Snapdragon 680,11999
3,POCO C50,Royal Blue,32,2,5000,3,1,0,16.56,Mediatek Helio A22,5649
4,Infinix HOT 30i,Marigold,128,8,5000,2,1,1,16.76,G37,8999
...,...,...,...,...,...,...,...,...,...,...,...
536,SAMSUNG Galaxy S23 5G,Cream,256,8,3900,2,13,0,15.49,Qualcomm Snapdragon 8 Gen 2,79999
537,LAVA Z21,Cyan,32,2,3100,13,12,0,12.70,Octa Core,5998
538,Tecno Spark 8T,Turquoise Cyan,64,4,5000,2,3,0,16.76,MediaTek Helio G35,9990
539,SAMSUNG Galaxy A54 5G,Awesome Lime,128,8,5000,2,6,0,16.26,"Exynos 1380, Octa Core",38999
540,OPPO A77,Sky Blue,128,4,5000,2,3,0,16.66,Mediatek Helio G35,15999

# label encoding

In [20]:
del_unwanted_col_Mobile['Processor_'].unique()

array(['Unisoc Spreadtrum SC9863A1', 'Qualcomm Snapdragon 680',
       'Mediatek Helio A22', 'G37', 'Exynos 850', 'Mediatek Helio P35',
       'Helio G36', 'Unisoc T606', 'Dimensity 6020',
       'Spreadtrum SC9863A1', 'Mediatek Helio G85', 'Helio G85',
       'Mediatek Dimensity 700', 'Mediatek Helio G37', 'Snapdragon 695',
       'Qualcomm Snapdragon 695 5G', 'Mediatek Helio G99', 'Unisoc T612',
       'Exynos 1330, Octa Core ', 'Mediatek Dimensity 930',
       'Qualcomm Snapdragon 695', 'Mediatek Helio G96', 'Helio G99',
       'Helio G88', 'SC6531E', 'Mediatek Dimensity 810',
       'MediaTek Dimensity 800U', 'Mediatek Dimensity 810 5G',
       'Qualcomm Snapdragon 750G', 'Dimensity 8020', 'MediaTek Helio G95',
       'Mediatek Helio G99 Octa Core', 'MediaTek Helio G96', 'MediaTek',
       'Google Tensor', 'Dimensity 810', 'Qualcomm Snapdragon 888',
       'Snapdragon 685', 'Qualcomm Snapdragon 4 Gen 1', '0 0 0 208MHz',
       'MediaTek Helio P35', 'Dimensity 8100', 'UNISOC T700',
       'Mediatek Helio G35', 'MediaTek Helio G85',
       'Qualcomm Snapdragon 778G', 'MediaTek Dimensity 700',
       'Unisoc T610', 'Unisoc T612 processor', 'Mediatek Dimensity 1080',
       'Mediatek Dimensity 920', 'Unisoc Tiger T612 (12 nm)',
       'Qualcomm Snapdragon 8 Gen 1', 'Mediatek Dimensity 7200 5G',
       'MediaTek G37', 'Qualcomm Snapdragon 7+ Gen 2 (4nm)', 'Octa Core',
       'MT6260A', 'MTK6261D', 'Spreadtrum', 'Mediatek MT6261D',
       'Meditek Helio G37', 'SC9863A',
       'Qualcomm Snapdragon 888 Octa-Core', 'Mediatek G99',
       'Qualcomm Snapdragon 778G Plus', 'Qualcomm Snapdragon 888 +',
       'MediaTek Helio G88', 'Tensor G2', 'MediaTek Helio G37',
       'SEC S5E8535 (Exynos 1330)', 'MediaTek Helio G35',
       'Qualcomm Snapdragon 730G', 'Qualcomm Snapdragon 778G+', 'Android',
       '2GHz, Quad Core ', 'Qualcomm Snapdragon 695 (SM6375)',
       'Unisoc Tiger T616', 'Unisoc', 'Oxygen OS',
       'Mediatek Dimensity 1080 5G', 'Qualcomm Snapdragon 680 (SM6225)',
       'Dimensity 1080, Octa Core ', 'Mediatek Helio G88', 'Helio A22',
       'Unisoc SC9863A/ Unisoc SC9863A1', 'Qualcomm Snapdragon 8+ Gen 1',
       'Snapdragon 8 Gen 1', 'Mediatek G96', 'Google Tensor G2',
       'Qualcomm Snapdragon 845', 'Qualcomm Snapdragon 439',
       'Octa-core(EXYNOS)', 'Mediatek Dimensity 900', 'Helio G25',
       'Snapdragon 680', 'snapdragon 888', 'Qualcomm Snapdragon 855',
       'Qualcomm Snapdragon 865', 'QualcommÂ® Snapdragonâ_x0084_¢ 765G',
       'Unisoc SC9863A', 'Exynos 1380, Octa Core ', 'MediaTek Helio G80',
       'Mediatek Helio G95', 'Qualcomm Snapdragon 855+', 'ios',
       'Qualcomm Snapdragon 778G 5G Mobile Platform',
       'MediaTek Helio A20', 'MediaTek G35', 'MediaTek Helio A22',
       'Unisoc T616', 'MediaTek Helio G25', 'MTK Dimensity 700',
       'Qualcomm Snapdragon 720G', 'IOS', 'Mediatek Dimensity 1300',
       'MediaTek Helio G70', 'Octa-core', '6 Core', 'Dimensity 8200',
       'Qualcomm SM6225 Snapdragon 680 4G (6 nm)', 'Exynos Octa Core',
       'Qualcomm Snapdragon 8 Gen 2'], dtype=object)

In [21]:
processor_label_encoder = LabelEncoder()
del_unwanted_col_Mobile['processor_encoded'] = processor_label_encoder.fit_transform(del_unwanted_col_Mobile['Processor_'])
del_unwanted_col_Mobile

,Model,Colour,Memory,RAM,Battery_,Rear Camera,Front Camera,AI Lens,Mobile Height,Processor_,Prize,processor_encoded
0,Infinix SMART 7,Night Black,64,4,6000,1,1,1,16.76,Unisoc Spreadtrum SC9863A1,7299,113
1,Infinix SMART 7,Azure Blue,64,4,6000,1,1,1,16.76,Unisoc Spreadtrum SC9863A1,7299,113
2,MOTOROLA G32,Mineral Gray,128,8,5000,2,2,0,16.64,Qualcomm Snapdragon 680,11999,75
3,POCO C50,Royal Blue,32,2,5000,3,1,0,16.56,Mediatek Helio A22,5649,56
4,Infinix HOT 30i,Marigold,128,8,5000,2,1,1,16.76,G37,8999,14
...,...,...,...,...,...,...,...,...,...,...,...,...
536,SAMSUNG Galaxy S23 5G,Cream,256,8,3900,2,13,0,15.49,Qualcomm Snapdragon 8 Gen 2,79999,89
537,LAVA Z21,Cyan,32,2,3100,13,12,0,12.70,Octa Core,5998,68
538,Tecno Spark 8T,Turquoise Cyan,64,4,5000,2,3,0,16.76,MediaTek Helio G35,9990,35
539,SAMSUNG Galaxy A54 5G,Awesome Lime,128,8,5000,2,6,0,16.26,"Exynos 1380, Octa Core",38999,11
540,OPPO A77,Sky Blue,128,4,5000,2,3,0,16.66,Mediatek Helio G35,15999,57

In [22]:
# we can also store the mapping of encoded values to original categories
processor_mapping = dict(zip(processor_label_encoder.classes_, processor_label_encoder.transform(processor_label_encoder.classes_)))

# Printing the mapping (optional)
print(processor_mapping)

{'0 0 0 208MHz': 0, '2GHz, Quad Core ': 1, '6 Core': 2, 'Android': 3, 'Dimensity 1080, Octa Core ': 4, 'Dimensity 6020': 5, 'Dimensity 8020': 6, 'Dimensity 810': 7, 'Dimensity 8100': 8, 'Dimensity 8200': 9, 'Exynos 1330, Octa Core ': 10, 'Exynos 1380, Octa Core ': 11, 'Exynos 850': 12, 'Exynos Octa Core': 13, 'G37': 14, 'Google Tensor': 15, 'Google Tensor G2': 16, 'Helio A22': 17, 'Helio G25': 18, 'Helio G36': 19, 'Helio G85': 20, 'Helio G88': 21, 'Helio G99': 22, 'IOS': 23, 'MT6260A': 24, 'MTK Dimensity 700': 25, 'MTK6261D': 26, 'MediaTek': 27, 'MediaTek Dimensity 700': 28, 'MediaTek Dimensity 800U': 29, 'MediaTek G35': 30, 'MediaTek G37': 31, 'MediaTek Helio A20': 32, 'MediaTek Helio A22': 33, 'MediaTek Helio G25': 34, 'MediaTek Helio G35': 35, 'MediaTek Helio G37': 36, 'MediaTek Helio G70': 37, 'MediaTek Helio G80': 38, 'MediaTek Helio G85': 39, 'MediaTek Helio G88': 40, 'MediaTek Helio G95': 41, 'MediaTek Helio G96': 42, 'MediaTek Helio P35': 43, 'Mediatek Dimensity 1080': 44, 'Mediatek Dimensity 1080 5G': 45, 'Mediatek Dimensity 1300': 46, 'Mediatek Dimensity 700': 47, 'Mediatek Dimensity 7200 5G': 48, 'Mediatek Dimensity 810': 49, 'Mediatek Dimensity 810 5G': 50, 'Mediatek Dimensity 900': 51, 'Mediatek Dimensity 920': 52, 'Mediatek Dimensity 930': 53, 'Mediatek G96': 54, 'Mediatek G99': 55, 'Mediatek Helio A22': 56, 'Mediatek Helio G35': 57, 'Mediatek Helio G37': 58, 'Mediatek Helio G85': 59, 'Mediatek Helio G88': 60, 'Mediatek Helio G95': 61, 'Mediatek Helio G96': 62, 'Mediatek Helio G99': 63, 'Mediatek Helio G99 Octa Core': 64, 'Mediatek Helio P35': 65, 'Mediatek MT6261D': 66, 'Meditek Helio G37': 67, 'Octa Core': 68, 'Octa-core': 69, 'Octa-core(EXYNOS)': 70, 'Oxygen OS': 71, 'Qualcomm SM6225 Snapdragon 680 4G (6 nm)': 72, 'Qualcomm Snapdragon 4 Gen 1': 73, 'Qualcomm Snapdragon 439': 74, 'Qualcomm Snapdragon 680': 75, 'Qualcomm Snapdragon 680 (SM6225)': 76, 'Qualcomm Snapdragon 695': 77, 'Qualcomm Snapdragon 695 (SM6375)': 78, 'Qualcomm Snapdragon 695 5G': 79, 'Qualcomm Snapdragon 7+ Gen 2 (4nm)': 80, 'Qualcomm Snapdragon 720G': 81, 'Qualcomm Snapdragon 730G': 82, 'Qualcomm Snapdragon 750G': 83, 'Qualcomm Snapdragon 778G': 84, 'Qualcomm Snapdragon 778G 5G Mobile Platform': 85, 'Qualcomm Snapdragon 778G Plus': 86, 'Qualcomm Snapdragon 778G+': 87, 'Qualcomm Snapdragon 8 Gen 1': 88, 'Qualcomm Snapdragon 8 Gen 2': 89, 'Qualcomm Snapdragon 8+ Gen 1': 90, 'Qualcomm Snapdragon 845': 91, 'Qualcomm Snapdragon 855': 92, 'Qualcomm Snapdragon 855+': 93, 'Qualcomm Snapdragon 865': 94, 'Qualcomm Snapdragon 888': 95, 'Qualcomm Snapdragon 888 +': 96, 'Qualcomm Snapdragon 888 Octa-Core': 97, 'QualcommÂ® Snapdragonâ_x0084_¢ 765G': 98, 'SC6531E': 99, 'SC9863A': 100, 'SEC S5E8535 (Exynos 1330)': 101, 'Snapdragon 680': 102, 'Snapdragon 685': 103, 'Snapdragon 695': 104, 'Snapdragon 8 Gen 1': 105, 'Spreadtrum': 106, 'Spreadtrum SC9863A1': 107, 'Tensor G2': 108, 'UNISOC T700': 109, 'Unisoc': 110, 'Unisoc SC9863A': 111, 'Unisoc SC9863A/ Unisoc SC9863A1': 112, 'Unisoc Spreadtrum SC9863A1': 113, 'Unisoc T606': 114, 'Unisoc T610': 115, 'Unisoc T612': 116, 'Unisoc T612 processor': 117, 'Unisoc T616': 118, 'Unisoc Tiger T612 (12 nm)': 119, 'Unisoc Tiger T616': 120, 'ios': 121, 'snapdragon 888': 122}

This code will create a new column named 'processor_encoded' in our DataFrame, containing the numeric values obtained by label encoding the 'processor_' column. Additionally, the processor_mapping variable will hold a dictionary mapping the original categorical values to their corresponding encoded numeric values.

In [25]:
# considering removing the original 'processor_' column to avoid redundancy, Drop the original 'processor_' column 
del_unwanted_col_Mobile.drop('Processor_', axis=1, inplace=True)

In [26]:
del_unwanted_col_Mobile.dtypes

Model                 object
Colour                object
Memory                 int64
RAM                    int64
Battery_               int64
Rear Camera            int32
Front Camera           int32
AI Lens                int64
Mobile Height        float64
Prize                  int32
processor_encoded      int32
dtype: object

In [27]:
del_unwanted_col_Mobile

,Model,Colour,Memory,RAM,Battery_,Rear Camera,Front Camera,AI Lens,Mobile Height,Prize,processor_encoded
0,Infinix SMART 7,Night Black,64,4,6000,1,1,1,16.76,7299,113
1,Infinix SMART 7,Azure Blue,64,4,6000,1,1,1,16.76,7299,113
2,MOTOROLA G32,Mineral Gray,128,8,5000,2,2,0,16.64,11999,75
3,POCO C50,Royal Blue,32,2,5000,3,1,0,16.56,5649,56
4,Infinix HOT 30i,Marigold,128,8,5000,2,1,1,16.76,8999,14
...,...,...,...,...,...,...,...,...,...,...,...
536,SAMSUNG Galaxy S23 5G,Cream,256,8,3900,2,13,0,15.49,79999,89
537,LAVA Z21,Cyan,32,2,3100,13,12,0,12.70,5998,68
538,Tecno Spark 8T,Turquoise Cyan,64,4,5000,2,3,0,16.76,9990,35
539,SAMSUNG Galaxy A54 5G,Awesome Lime,128,8,5000,2,6,0,16.26,38999,11
540,OPPO A77,Sky Blue,128,4,5000,2,3,0,16.66,15999,57

# ONE-HOT encoding for nominal categorical data

In this we will not give priorty to any of the variable element importance instead will we will assign '0' or '1' as per their position coming in

In [28]:
#creates a copy of the DataFrame del_unwanted_col_Mobile and assigns it to the variable Mobile_Price.
#Making a copy ensures that any modifications made to Mobile_Price do not affect the original DataFrame del_unwanted_col_Mobile
Mobile_Price = del_unwanted_col_Mobile.copy()

#object_features =  Mobile_Price.select_dtypes(include='object').columns.tolist(): 
#This line selects columns from the DataFrame Mobile_Price that have data types classified as 'object'. 
#Object data types typically represent categorical variables such as strings.

object_festures = Mobile_Price.select_dtypes(include='object').columns.tolist()
print("total object data types features:", len(object_festures))
print("features: \n ",(object_festures))

total object data types features: 2
features:
  ['Model', 'Colour']

In [29]:
Mobile_Price[object_festures].head(2)

             Model       Colour
0  Infinix SMART 7  Night Black
1  Infinix SMART 7   Azure Blue

In [31]:
#here "prefix' is fixing the name of each column so that columns can be indentify seperatly"
#dropping the first category of column as if we take all category and drop any 1,data will have representation same of column asked for
print('Shape of DF before encoding:',Mobile_Price.shape)
Mobile_Price = pd.get_dummies(Mobile_Price, columns=object_festures, prefix=object_festures, drop_first=True)
print('Shape of DF after encoding:',Mobile_Price.shape)

Shape of DF before encoding: (541, 11)
Shape of DF after encoding: (541, 469)

In [32]:
Mobile_Price.head(20)

,Memory,RAM,Battery_,Rear Camera,Front Camera,AI Lens,Mobile Height,Prize,processor_encoded,Model_APPLE iPhone 12,...,Colour_VertMenthe,Colour_Volcanic Grey,Colour_Waterfall Blue,Colour_Watery Blue,Colour_Watery Grey,Colour_White,Colour_White Lily,Colour_Wildcat Blue,Colour_Yellow,Colour_chalk
0,64,4,6000,1,1,1,16.76,7299,113,False,...,False,False,False,False,False,False,False,False,False,False
1,64,4,6000,1,1,1,16.76,7299,113,False,...,False,False,False,False,False,False,False,False,False,False
2,128,8,5000,2,2,0,16.64,11999,75,False,...,False,False,False,False,False,False,False,False,False,False
3,32,2,5000,3,1,0,16.56,5649,56,False,...,False,False,False,False,False,False,False,False,False,False
4,128,8,5000,2,1,1,16.76,8999,14,False,...,False,False,False,False,False,False,False,False,False,False
5,128,8,5000,2,1,1,16.76,8999,14,False,...,False,False,False,False,False,False,False,False,False,False
6,128,8,5000,2,1,1,16.76,8999,14,False,...,False,False,False,False,False,False,False,False,False,False
7,128,8,5000,2,1,1,16.76,8999,14,False,...,False,False,False,False,False,False,False,False,False,False
8,64,4,5000,2,1,1,16.76,7999,14,False,...,False,False,False,False,False,False,False,False,False,False
9,64,4,5000,2,1,1,16.76,7999,14,False,...,False,False,False,False,False,False,False,False,False,False
10,64,4,6000,2,1,0,17.02,9499,75,False,...,False,False,False,False,False,False,False,False,False,False
11,64,4,5000,2,1,1,16.76,7999,14,False,...,False,False,False,False,False,False,False,False,False,False
12,64,4,6000,1,1,1,16.76,7299,113,False,...,False,False,False,False,False,False,False,False,False,False
13,128,4,6000,2,3,0,16.76,10699,12,False,...,False,False,True,False,False,False,False,False,False,False
14,64,4,5000,1,1,0,16.51,7299,65,False,...,False,False,False,False,False,False,False,False,False,False
15,64,4,5000,3,1,0,16.56,6999,19,False,...,False,False,False,False,False,False,False,False,False,False
16,64,4,5000,2,1,1,16.76,7999,14,False,...,False,False,False,False,False,False,False,False,False,False
17,64,4,5000,3,1,0,16.56,6999,19,False,...,False,False,False,False,False,False,False,False,False,False
18,32,2,5000,3,1,0,16.56,5649,56,False,...,False,False,False,False,False,False,False,False,False,False
19,64,4,5000,1,1,0,16.51,7299,114,False,...,False,False,False,False,False,False,False,False,False,False

In [33]:
# it shows theres no class left of object type in dataset
Mobile_Price.select_dtypes(include='object').columns.tolist()

[]

In [35]:
Mobile_Price.dtypes

Memory                 int64
RAM                    int64
Battery_               int64
Rear Camera            int32
Front Camera           int32
                       ...
Colour_White            bool
Colour_White Lily       bool
Colour_Wildcat Blue     bool
Colour_Yellow           bool
Colour_chalk            bool
Length: 469, dtype: object

In [ ]:
#creating Cleaned final dataset
Mobile_Price.to_csv("C:\\Users\\hp\\digicrome data science\\project  4 (mobile prediction)\\copy of orignal dataset after_encoding.csv",index= False)